language: java
jdk:
- oraclejdk8
sudo: false
dist: xenial
cache:
  directories:
  - $HOME/.m2
script: "mvn clean install -Ptest"


env:
  global:
  - 'SFTP_USER=travis-sftp-user'
  - 'SFTP_PASSWORD=3aoAbEtQQxfhxyjuCpsEpjHp'
after_success:
- curl --ftp-create-dirs
       -k
       -T /home/travis/build/alexander-josef/sportrait/target/ROOT_Test.war
       sftp://${SFTP_USER}:${SFTP_PASSWORD}@aws3.sportrait.com/uploads/ROOT_Test.war