<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>


<!--        Database connection settings : -->

        <property name="connection.datasource">java:comp/env/jdbc/sportrait</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>

        <!--suppress HibernateConfigDomInspection -->
        <property name="show_sql">${hibernate.showSQL}</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.use_sql_comments">true</property>


        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.connection.release_mode">auto</property>

        <!-- Enable the second-level cache  -->
        <!--<property name="cache.provider_class">net.sf.ehcache.hibernate.SingletonEhCacheProvider</property>-->
        <property name="hibernate.cache.use_second_level_cache">true</property>

        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.jcache.JCacheRegionFactory</property>

        <!-- problem with old data when using query cache? -->
        <property name="hibernate.cache.use_query_cache">true</property>

        <!-- validate the database schema on startup !-->
        <property name="hbm2ddl.auto">validate</property>
<!--
        <property name="hibernate.javax.cache.missing_cache_strategy">create</property>
-->

        <!-- set implicit naming strategy to legacy -->
        <property name="hibernate.implicit_naming_strategy">legacy-hbm</property>

        <!-- Mapping files -->
        <!-- CAUTION : make sure that all mappings are included. Check mappings.xml in the model directory, this is the Master resource for mapping files -->
        <!--For a more generic solution check the hibernate.cfg.xml file for localhost and the comments in cluded in this file. However, using the !ENTITY Tag seems not to work for boston-->
        <!--<mapping resource="ch/unartig/studioserver/model/Photo.hbm.xml"/>-->



        <mapping class="ch.unartig.studioserver.model.GenericLevel"/>
        <mapping class="ch.unartig.studioserver.model.Album"/>
        <mapping class="ch.unartig.studioserver.model.Category"/>
        <mapping class="ch.unartig.studioserver.model.EventGroup"/>
        <mapping class="ch.unartig.studioserver.model.Event"/>
        <mapping class="ch.unartig.studioserver.model.SportsAlbum"/>
        <mapping class="ch.unartig.studioserver.model.SportsEvent"/>
        <mapping class="ch.unartig.studioserver.model.EventRunner"/>
        <mapping class="ch.unartig.studioserver.model.EventCategory"/>
        <mapping class="ch.unartig.studioserver.model.Customer"/>
        <mapping class="ch.unartig.studioserver.model.Order"/>
        <mapping class="ch.unartig.studioserver.model.OrderItem"/>
        <mapping class="ch.unartig.studioserver.model.Photo"/>
        <mapping class="ch.unartig.studioserver.model.OrderHash"/>
        <mapping class="ch.unartig.studioserver.model.PhotoSubject"/>
        <mapping class="ch.unartig.studioserver.model.Photographer"/>
        <mapping class="ch.unartig.studioserver.model.UserProfile"/>
        <mapping class="ch.unartig.studioserver.model.UserRole"/>
        <mapping class="ch.unartig.studioserver.model.Price"/>
        <mapping class="ch.unartig.studioserver.model.ProductType"/>
        <mapping class="ch.unartig.studioserver.model.Product"/>

    </session-factory>

</hibernate-configuration>
