version: 2.1

orbs:
  maven: circleci/maven@0.0.12
  # start from a docker orb - publish and pull is already existing as commands
  docker: circleci/docker@1.0.1
  # add kubernetes support orb, see https://circleci.com/developer/orbs/orb/circleci/kubernetes
  kube-orb: circleci/kubernetes@0.11.1
jobs:
  maven_build:
    docker:
      - image: "circleci/openjdk:11.0.3-jdk-stretch"
    steps:
      - checkout
      - run:
          name: Clean and Verify for INT
          command: mvn -P "k8s-java-int" -Drevision=${CIRCLE_WORKFLOW_ID} clean verify # use $CIRCLE_TAG if we switch back to only run tagged builds
      - run:
          name: Save war file and rename
          command: |
            cp target/ROOT_Test.war ROOT.war
            mv target/ROOT_Test.war ROOT_k8s-java-int.${CIRCLE_WORKFLOW_ID}.war
      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "pom.xml" }}
      - persist_to_workspace: # use for storing produced artefacts - can be used in further jobs
          root: ./
          paths:
            - ROOT_k8s-java-int.${CIRCLE_WORKFLOW_ID}.war
            - ROOT.war
  publish-k8s-int-image:
    executor: docker/docker
    steps:
      - attach_workspace: # use for storing produced artefacts
          at: ./
      - run: echo 'extra steps'
  test:
    docker:
      - image: "cimg/base:stable"
    steps:
      - checkout
      - attach_workspace: # use for storing produced artefacts
          at: ./

workflows:
  version: 2

  build_and_deploy_int:
    jobs:
      - maven_build
      - docker/publish:
          name: publish-k8s-int-image
          executor: docker/docker
          - attach-at: "./"
          # with the build args, we're passing the env. this then determines the NPM build mode (see Dockerfile) and the build variables from the .env.x files
          # not needed for java build - maybe later with env vars
          # extra_build_args: '--build-arg revision=<< pipeline.git.revision >> --build-arg vue_cli_build_mode=k8s-int'
          image: $CIRCLE_PROJECT_USERNAME/sportrait/sportrait-k8s-java-int
          tag: k8s-int.$CIRCLE_TAG
          use-docker-credentials-store: true
          use-remote-docker: true
          # TODO env variables from env.integration.local?
          # remove following line - not needed with this directory structure
          # path: sportrait
          registry: docker.pkg.github.com

          # Todo later : rename context - docker credentials also applies to admin ui
          context: sportraitNG

      - test:
          requires:
            - maven_build
#  build_and_deploy_prod:
#    jobs:
#      - build
#      - test:
#          requires:
#            - build