version: '3'

networks:
    web:
        external: true
    internal:
        external: false

services:

    teamcity-server:
        image: jetbrains/teamcity-server
        volumes:
            - "/opt/Docker/TeamCityData/data:/data/teamcity_server/datadir"
            - "/opt/Docker/TeamCityData/logs:/opt/teamcity/logs"
        #  ports:
        #      - "8111:8111"
        labels:
            - traefik.backend=teamcity-server
            - traefik.frontend.rule=Host:teamcity.sportrait.com
            - traefik.docker.network=web
            - traefik.port=8111

        networks:
            - internal
            - web

    teamcity-agent:
        image: "jetbrains/teamcity-agent"
        environment:
            - SERVER_URL=http://teamcity-server:8111
        volumes:
            - "/opt/Docker/TeamCityData/agent:/data/teamcity_agent/conf"
            - "/opt/Docker/TeamCityData/logs:/opt/teamcity/logs"
            - "/var/run/docker.sock:/var/run/docker.sock"
            - "/opt/buildagent/work:/opt/buildagent/work"
            - "/opt/buildagent/temp:/opt/buildagent/temp"
            - "/opt/buildagent/tools:/opt/buildagent/tools"
            - "/opt/buildagent/plugins:/opt/buildagent/plugins"
            - "/opt/buildagent/system:/opt/buildagent/system"
        labels:
            - traefik.enable=false

        networks:
            - internal
        depends_on:
            - teamcity-server