/*CSS for wide screen format only -- 2018-10-14*/

html {
     width: 100%;
     height: 100%;
}




/*===============================  general  ==================================*/

ul.tabnavigation {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin:auto;
}


/*===============================  header  ==================================*/
img#fotostack {
    margin: 0 0 0 654px;
    height: unset;
}


/* Replacing deprecated <center> tag */
div#window {
    text-align: -moz-center;
    text-align: -webkit-center;
    text-align: center;
}


div#header {
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

div#bannerBox {
    position: absolute;
    width: 280px;
    margin: 173px 0 0 600px;
    text-align: right;
}

/*===============================  Tabs  ==================================*/
div#tabnavigationHome {
    margin-top: 140px;
    width: 625px;
    height: 22px;
    text-align: right;
}

div#tabnavigation {
    margin-top: 98px;
    width: 884px;
    height: 22px;
    text-align: right;
}


/*===============================  content  ==================================*/
div#containerHome, div#headerHome {
    width: 990px;
    margin: auto;
}


div#container {
    width: 881px;
    margin: 0 53px;
    text-align: left;
}

div.content, div#footerLinks, div.pageNav, div#header {
     width: 881px;
}

div#header {
    margin: auto;
}


div.pageNav, div.content {
    padding-top: 10px;
    float: left;
}

h1#pageName {
    width: 500px;
    padding: 40px 0 0 0;
}

h2#eventCategory {
    margin-left: 3px;
}


div.content600 {
    width: 600px;
}

div.content300Left {
    width: 280px;
}


/*=============================  navigation  ================================*/

li.navList-top, li.navList-bottom, li.navList-content {
    width: 881px;
}

ul li.navList-content {
    padding: 0 10px;
    width: 881px;
}

ul li.navList-top {
    width: unset;
}

ul li.navList-bottom {
    width: unset;
}


ul#fotoNav {
    padding: 43px 0 0 0;
    width: 350px;
}



/*======================  home  ===================*/

div.leftContentHome {
    width: 335px;
    margin: 32px 45px 0  0;
}

div.rightContentHome {
     width: 240px;
}




ul#loginBoxHome {
    margin-top: 18px;
    display: flex;
}


/*===============================  album  ==================================*/

ul.slide {
    height: 81px;
}





/*===============================  display  ==================================*/
table#displaySelectionBar {
    width: 861px;
}


table#formatSelectDisplay {
    float: right;
    display: contents;
}


td.displayPreview {
    display: block;
}




td#displayShop {
    display:  contents;
}




body#iframeBody {
    background-image: none;
    background-color: #f2efea;
}


/*==========================  shopping cart  =================================*/





/*=============================  faq  ===============================*/


/*===============================  boxes  ==================================*/





/*=============================  formulare  ================================*/



/*===============================  buttons  =================================*/

/*===============================  footer  =================================*/
div#footerLinks {
    margin-top: 50px;

}



div#footerLinks ul li a {
    padding: 0 20px 12px 6px;
}

/*===============================  modal  =================================*/


.modalContainer {
    width: 250px;
    top: 300px;
}




