/*
Theses guidelines should be considered with any upcoming zul pages.
Changes need to be discussed.
*/

/*
***** HEADER *****
*/
.sportraitTitle {
    FONT-SIZE: 12pt;
    FONT-WEIGHT: bold;
}

.sportraitLabel {
    FONT-SIZE: 8pt;
}

.sportraitInputEntry {
    FONT-SIZE: 8pt;
    FONT-WEIGHT: bold;
    TEXT-ALIGN: left;
}
.sportraitHighlight{
    font-size:10px;
    FONT-WEIGHT: bold;
}

/* define classes for published / unpublished entries - affects the <div> of the tables */
.published div{
    color:green;
}
.unpublished div{
    color:red;
}