/*
Theses guidelines should be considered with any upcoming zul pages.
Changes need to be discussed.
*/

/*
***** HEADER *****
*/
.sportraitTitle {
    FONT-SIZE: 12pt;
    FONT-WEIGHT: bold;
}

.sportraitLabel {
    FONT-SIZE: 8pt;
}

.sportraitInputEntry {
    FONT-SIZE: 8pt;
    FONT-WEIGHT: bold;
    TEXT-ALIGN: left;
}
.sportraitHighlight{
    font-size:10px;
    FONT-WEIGHT: bold;
}

/*
***** ARTIFACT *****
*/
.EBPM_ARTIFACT_TITLE {

}

.EBPM_ARTIFACT_LABEL {
    TEXT-ALIGN: left;
}

.EBPM_ARTIFACT_LABEL_TEXT {

}

/*
***** TABLES *****
*/
.EBPM_TABLE_DESIGN {
    BORDER-COLOR: black;
    BORDER-STYLE: solid;
    BORDER-WIDTH: thin;
    MARGIN: 0.5cm;
}

/*
***** TAbpanel *****
*/
.tab-3d-mm-uns a {
    color: #FFF;
    font-size: 12px;
}

.tab-3d-mm-sel a {
    color: #82765f;
    font-size: 12px;
}

td.tab-3d-tl-uns {
    background: url( ../images/tabs/tab_tl.gif ) 0 0 no-repeat;
}

td.tab-3d-tm-uns {
    background: url( ../images/tabs/tab_tm.gif ) 0 0 repeat-x;
}

td.tab-3d-tr-uns {
    background: url( ../images/tabs/tab_tr.gif ) 0 0 no-repeat;
}

td.tab-3d-ml-uns {
    background: url( ../images/tabs/tab_ml.gif ) 0 0 no-repeat;
}

td.tab-3d-mm-uns {
    background: url( ../images/tabs/tab_mm.gif ) 0 0 repeat-x;
}

td.tab-3d-mr-uns {
    background: url( ../images/tabs/tab_mr.gif ) 0 0 no-repeat;
}

td.tab-3d-bl-uns {
    background: url( ../images/tabs/tab_bl.gif ) 0 0 no-repeat;
}

td.tab-3d-bm-uns {
    background: url( ../images/tabs/tab_bm.gif ) 0 0 repeat-x;
}

td.tab-3d-br-uns {
    background: url( ../images/tabs/tab_br.gif ) 0 0 no-repeat;
}

td.tab-3d-tl-sel {
    background: url( ../images/tabs/ON/tab_tl.gif ) 0 0 no-repeat;
}

td.tab-3d-tm-sel {
    background: url( ../images/tabs/ON/tab_tm.gif ) 0 0 repeat-x;
}

td.tab-3d-tr-sel {
    background: url( ../images/tabs/ON/tab_tr.gif ) 0 0 no-repeat;
}

td.tab-3d-ml-sel {
    background: url( ../images/tabs/ON/tab_ml.gif ) 0 0 no-repeat;
}

td.tab-3d-mm-sel {
    background: url( ../images/tabs/ON/tab_mm.gif ) 0 0 repeat-x;
}

td.tab-3d-mr-sel {
    background: url( ../images/tabs/ON/tab_mr.gif ) 0 0 no-repeat;
}

td.tab-3d-bl-sel {
    background: url( ../images/tabs/ON/tab_bl.gif ) 0 0 no-repeat;
}

td.tab-3d-bm-sel {
    background: url( ../images/tabs/ON/tab_bm.gif ) 0 0 repeat-x;
}

td.tab-3d-br-sel {
    background: url( ../images/tabs/ON/tab_br.gif ) 0 0 no-repeat;
}

td.tab-3d-first1 {
    background: url( ../images/tabs/tab_frame.gif ) 0 0 no-repeat;
    height: 3px;
    width: 1px;
}

td.tab-3d-first2 {
    background: url( ../images/tabs/tab_frame.gif ) 0 0 repeat-x;
    height: 3px;
    width: 3px;
}

td.tab-3d-last1 {
    background: url( ../images/tabs/tab_frame.gif ) 0 0 repeat-x;
    height: 3px;
}

td.tab-3d-last2 {
    background: url( ../images/tabs/tab_frame.gif ) 0 0 no-repeat;
    height: 3px;
    width: 1px;
}

.tabpanel {
    background-color: #FFF;
    border-right: 1px solid #686565;
    border-bottom: 1px solid #686565;
}
