<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app id="WebApp_9" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>Sportrait Server</display-name>
    <description>
        Photo Presentation and sales framework. (c) unartig AG 2005-2008
    </description>
    <context-param>
        <param-name>webmaster</param-name>
        <param-value>unartiginfo@unartig.ch</param-value>
    </context-param>
    <!--

        <error-page>
            <error-code>500</error-code>
            <location>/error.html</location>
        </error-page>
        <error-page>
            <error-code>404</error-code>
            <location>/error.html</location>
        </error-page>

    -->

    <filter>
        <filter-name>Security Filter</filter-name>
        <filter-class>org.securityfilter.filter.SecurityFilter</filter-class>
        <init-param>
            <description>Configuration file location (this is the default value)</description>
            <param-name>config</param-name>
            <param-value>/WEB-INF/securityfilter-config.xml</param-value>
        </init-param>
        <init-param>
            <description>Validate config file if set to true</description>
            <param-name>validate</param-name>
            <param-value>true</param-value>
        </init-param>
        <!--
              <init-param>
                 <param-name>loginSubmitPattern</param-name>
                 <param-value>/logMeIn</param-value>
                 <description>
                    As an example a login form can define "logMeIn" as it action in place of the standard
                    "j_security_check" which is a special flag user by app servers for container managed security.
                 </description>
              </init-param>
        -->
    </filter>

    <filter-mapping>
        <filter-name>Security Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>HibernateFilter</filter-name>
        <filter-class>ch.unartig.studioserver.persistence.util.HibernateFilter</filter-class>
    </filter>
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>ch.unartig.controller.UTF8EncodingFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>HibernateFilter</filter-name>
        <url-pattern>*.html</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>HibernateFilter</filter-name>
        <url-pattern>/xmlrpc</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>HibernateFilter</filter-name>
        <url-pattern>/rest/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>HibernateFilter</filter-name>
        <url-pattern>/zkau/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>HibernateFilter</filter-name>
        <url-pattern>*.zul</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>*.html</url-pattern>
    </filter-mapping>

    <!--    <servlet>-->
    <!--        <servlet-name>testjsps</servlet-name>-->
    <!--        <jsp-file>/check.jsp</jsp-file>-->
    <!--    </servlet>-->
    <!-- Standard Action Servlet Configuration (with debugging) -->


    <!-- SECTION FOR ZK -->
    <listener>
        <description>Used to cleanup when a session isdestroyed</description>
        <display-name>ZK Session Cleaner</display-name>
        <listener-class>org.zkoss.zk.ui.http.HttpSessionListener</listener-class>
    </listener>
    <servlet>
        <description>ZK loader for evaluating ZK pages</description>
        <servlet-name>zkLoader</servlet-name>
        <servlet-class>org.zkoss.zk.ui.http.DHtmlLayoutServlet</servlet-class>
        <!-- Specifies URI of the update engine(DHtmlUpdateServlet). -->
        <init-param>
            <param-name>update-uri</param-name>
            <param-value>/zkau</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
        <!-- MUST -->
    </servlet>
    <servlet-mapping>
        <servlet-name>zkLoader</servlet-name>
        <url-pattern>*.zul</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>zkLoader</servlet-name>
        <url-pattern>*.zhtml</url-pattern>
    </servlet-mapping>
    <servlet>
        <description>The asynchronous update engine for ZK</description>
        <servlet-name>auEngine</servlet-name>
        <servlet-class>org.zkoss.zk.au.http.DHtmlUpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>auEngine</servlet-name>
        <url-pattern>/zkau/*</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>ch.unartig.controller.UnartigActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>5</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <!--        unartig init params-->
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>XmlRpcServlet</servlet-name>
        <servlet-class>org.apache.xmlrpc.webserver.XmlRpcServlet</servlet-class>
        <init-param>
            <description>
                Sets, whether the servlet supports vendor extensions for XML-RPC.
            </description>
            <param-name>enabledForExtensions</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>

    <!-- TODO the action servlet is probably not appropriate for REST style services-->
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>

    <!-- Mapping for the struts action. all html pages and the api for the web services-->
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>XmlRpcServlet</servlet-name>
        <url-pattern>/xmlrpc</url-pattern>
    </servlet-mapping>

    <session-config>
        <!--default session time-out 30 minutes. enter time-out in minutes-->
        <session-timeout>30</session-timeout>
    </session-config>

 <!--
 use this configuration instead of specifying utf-8 as encoding on all jsp's:

<%@ page contentType="text/html; charset=UTF-8"%>


 <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>
-->
</web-app>
