<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">

    <display-name>Sportrait Server</display-name>
    <description>
        SPORTRAIT web app. (c) Alexander Josef 2005-2021
    </description>
    <context-param>
        <param-name>webmaster</param-name>
        <param-value>info@sportrait.com</param-value>
    </context-param>

    <filter>
        <filter-name>HibernateFilter</filter-name>
        <filter-class>ch.unartig.studioserver.persistence.util.HibernateFilter</filter-class>
    </filter>
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>ch.unartig.controller.UTF8EncodingFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>HibernateFilter</filter-name>
        <url-pattern>*.html</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>*.html</url-pattern>
    </filter-mapping>

    <session-config>
        <!--default session time-out 30 minutes. enter time-out in minutes-->
        <session-timeout>30</session-timeout>
    </session-config>


    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>
