<?xml version='1.0' encoding='utf-8'?>
<events>
    <event id="512" name="Sola Stafette 2007" date="2007-05-13"/>
    <event id="412" name="Sola Stafette 2008" date="2008-05-18"/>
    <event id="399" name="Zurich Marathon" date="2008-08-20"/>
    <event id="212" name="Silversterlauf" date="2008-12-31"/>
</events>